@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');
*{
    margin-top: 1px;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    position: relative;
    font-family: 'Jost', sans-serif;
    display: inline;
}

header{
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.column{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

#menu{
    margin-top: -8px;
    background-color: rgb(18, 18, 18);
}

#menu h1{
    padding-top: 80px;
    text-align: center;
    color: white;
}

.card {
    box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.2);
    margin: 8px;
    background-color: white;
}

.badge_hot{
    background-color: red;
    color: white;
    padding: 4px 14px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.badge_new{
    background-color: green;
    color: white;
    padding: 4px 14px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.about-section{
    margin-top: -8px;
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #8B5F5B;
}

.stars{
    margin-bottom: 15px;
}

.checked{
    color: orange;
}

.container {
    padding: 0 16px;
}

.container p{
    font-size: 20px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(18, 18, 18);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
  
.button:hover {
    background-color: #555;
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}

#img-margherita {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-margherita:hover {opacity: 0.7;}

.modal-margherita {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
#caption-margherita {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-margherita {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close-margherita {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-margherita:hover,
.close-margherita:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

#img-formaggio {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-formaggio:hover {opacity: 0.7;}

.modal-formaggio {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#caption-formaggio {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-formaggio {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
.close-formaggio {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-formaggio:hover,
.close-formaggio:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#img-chicken {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-chicken:hover {opacity: 0.7;}

.modal-chicken {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#caption-chicken {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-chicken {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
.close-chicken {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-chicken:hover,
.close-chicken:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#img-pineapple {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-pineapple:hover {opacity: 0.7;}

.modal-pineapple {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#caption-pineapple {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-pineapple {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
.close-pineapple {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-pineapple:hover,
.close-pineapple:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#img-meat {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-meat:hover {opacity: 0.7;}

.modal-meat {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#caption-meat {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-meat {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
.close-meat {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-meat:hover,
.close-meat:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#img-parma {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#img-parma:hover {opacity: 0.7;}

.modal-parma {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

#caption-parma {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
.modal-content, #caption-parma {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
.close-parma {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-parma:hover,
.close-parma:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.about-page{
    text-align: center;
    background-color: #444;
    color: white;
    margin-top: -2px;
    padding-top: 80px;
}

.time-line {
    background-color: #444;
    position: relative;
    margin: 0 auto;
    margin-top: -20px;
    padding-top: 40px;
}

.time-line::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 4%;
    bottom: 15%;
    left: 50%;
    margin-left: -3px;
}

.about-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.about-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.about-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .time-line::after {
        left: 31px;
    }
    
    .about-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .about-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.section-counter{
    background-color: white;
    margin-top: -1px;
}

.section-counter-column{
    float: left;
    width: 25%;
    padding: 10px 5px;
}

.section-counter-row::after{
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px){
    .section-counter-column{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

.section-counter-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
}

.fa {
    font-size:50px;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=datetime-local]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}
  
.container-contact {
    margin-top: -1px;
    background-color: #afaeae;
    padding: 10px;
}

.container-contact h2 {
    margin-top: 60px;
}
  
.contact-column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.contact-row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
    .contact-column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

footer{
    margin-top: 0px;
    background: #111;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 25px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
  
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu{
    float: right;
    margin-top: 10px;
}

.footer-menu ul{
    display: flex;
}

.footer-menu ul li{
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover{
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}